[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = git://github.com/tomasr/molokai.git
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/sunburst"]
	path = .vim/bundle/sunburst
	url = git://github.com/sickill/vim-sunburst.git
[submodule ".vim/bundle/monokai"]
	path = .vim/bundle/monokai
	url = git://github.com/sickill/vim-monokai.git
[submodule ".vim/bundle/fugitive"]
	path = .vim/bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/snipmate"]
	path = .vim/bundle/snipmate
	url = git@github.com:snikulov/snipmate.vim.git
[submodule ".vim/bundle/vim_cmake"]
	path = .vim/bundle/vim_cmake
	url = git://github.com/vhdirk/vim-cmake.git
[submodule ".vim/bundle/vim_qargs"]
	path = .vim/bundle/vim_qargs
	url = git://github.com/nelstrom/vim-qargs.git
[submodule ".vim/bundle/l9"]
	path = .vim/bundle/l9
	url = git://github.com/vim-scripts/L9.git
[submodule ".vim/bundle/fuf"]
	path = .vim/bundle/fuf
	url = git://github.com/vim-scripts/FuzzyFinder.git
[submodule ".vim/bundle/vim_airline"]
	path = .vim/bundle/vim_airline
	url = https://github.com/bling/vim-airline.git
